<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE>Adding geocode of another Access Point to the database</TITLE>
<!--JavaScript part of code-->
<script>
    function myFunction()
    {
    	if(document.getElementById('r1').checked)
    	{
    		//alert("Please give all the details required for this Access Point");
    		document.getElementById('F1').style.display='block';
    		document.getElementById('F2').style.display='none';
    		
    	}
    	else if(document.getElementById('r2').checked)
    	{
    		//alert("Please give all the details required for this slot of an Access Point");
    		document.getElementById('F2').style.display='block';
    		document.getElementById('F1').style.display='none';
    		
    	}
    	else
    	{
    		alert("Please choose an option first");
    	}
    }
</script>
</HEAD>
<BODY bgcolor='black'>
  <h1 align='center' style='color:white;'> Welcome! </h1>
  <h2 align='center' style='color:white;'> Please fill the details below to add an access point to the location </h2>
  <form style='color:white ' action='/accessList' method='post'>
  <!--This is the form starting where info for every acess point will be saved-->
  <fieldset  style=' padding:50px margin:50px '>
    <legend style='font-size:30px ' align='center'>Adding to Database:</legend>
    <br><br>
    <font-size='25px' >Please choose one option to recieve the further form and add information to the database : </font>
    <br>
    <input type='radio' id='r1' name='adding' value='1' > Access Point (A whole new space for this facility) <br>
    <input type='radio' id='r2' name='adding' value='2' > Locker (one slot to an Access Point)
    <br><br>
    <button type='button' id='r3' onClick='myFunction()'> NEXT  </button>
  </fieldset>
  <!--For Access Point Database-->
  <fieldset id='F1' style=' display:none'>
  <legend style='font-size:30px ' align='center'>Adding to Access Point Database:</legend>
  <br><br>
  Geocode Details:
  <br><br>
  Add details of a new access point to be added to db else no change will be made to db
  <br><br>
  Address of the Access Point [street no., city, state, Country ] use proper punctuations in the address-
  <br>

  <input type='text' id='b1' name='Aname'>
  <br><br>
  No. of lockers-<br>
  <input type='Number' id='b3' name='Nname'>
  <button align='center' name='point' type='submit' id='r4' formaction='/accessList' style='padding:10px; margin:20px; ' > Submit  </button>

  </fieldset>
  </form>
  <form style='color:white ' action='/lockerList' method='post'>
  <!--For Lockers Database-->
  <fieldset id='F2' style=' display:none'>
  <legend style='font-size:30px ' align='center'>Adding to Lockers Database:</legend>
  <br><br>
  Geocode Details: <br><br>
  Add details of an existing access point to update the number of lockers in db else no change will be made to db
  <br><br>
  Address of the Access Point [street no., city, state, Country ] use proper punctuations in the address-
  <br>

  <input type='text' id='b2' name='Lname'>
  <br><br>
  Number of lockers added-<br>
  <input type='number' id='b3' name='Nname1'>
  <button align='center' name='loc' type='submit' id='r5' formaction='/lockerList' style='padding:10px; margin:20px; ' > Submit  </button>

  </fieldset> 
  </form>
</BODY>
</HTML>