<!DOCTYPE html>
<html>
<head>
<style type="text/css">
 button{
  margin:auto;
  display:block;
 }

/* BUTTON STYLES */
 button{
  padding:16px 32px;
  font-family:helvetica;
  font-size:16px;
  font-weight:100;
  color:#fff;
  background: #587286;
  border:0;
  font-weight:100;
 }
 button:hover{
   background: #3B5C76;
 }
 body{
 	background:#123;
 }
 h2{
 	color:#fff;
 }
 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  opacity: 0.5;
  align:right;
}
</style>
</head>
<body>
<br><br><br>
<h2 align='center' > Welcome to our user to Access Point Management Service</h1>
<br><br><br>
<font align='center' style='color:white; margin:50px '> Please fill your address below to get a list of access points around you </font>
<br><br>
<form method='post'>
  <!-- inputs for address-->
  <font align='center' style='color:white; margin:50px '> Enter the address to find nearest Access Points- </font>
<!--input type='text' id='b1' name='fName' placeholder="Enter your address" style='right-margin:50px; width=350px; hieght=100px'-->
<br>
<input type="text" name="A1" placeholder="street no.(not necessary)">
  <input type="text" name="A2" placeholder="city">
  <input type="text" name="A3" placeholder="state">
  <input type="text" name="A4" placeholder="Country">
  <br><br>
<a href="https://www.amazon.com/primeinsider/tips/amazon-locker-qa.html"> <img src="/static/search.jpg" alt="smile" title="AMAZON Lockers Search" align="right"/> </a>
<br>
<!-- inputs for Range-->
<font align='center' style='color:white; margin:50px '> Please fill the range upto which you want to see nearest access points (in kilometers) </font>
<br><br>
<input type='text' id='b2' name='range' style='right-margin:50px; width=350px; hieght=100px'><br>
<br>
<!-- inputs for mode-->
<font align='center' style='color:white; margin:50px '> Mode of Access Point - <br>
<input type='radio' id='r1' name='Mode' value='Online' > Online <br>
    <input type='radio' id='r2' name='Mode' value='Offline' > Offline
    <br><br></font>
    <!-- inputs for type-->
<font align='center' style='color:white; margin:50px '> Type of Access Point -<br>
<input type='radio' id='r3' name='Type' value='Residential' > Residential <br>
    <input type='radio' id='r4' name='Type' value='Corporate' > Corporate
    <br><br></font>
    <!-- inputs for Suitable separations-->
<font align='center' style='color:white; margin:50px '> Partition of results on basis of -<br>
<input type='radio' id='r5' name='Partition' value='city' > city wise<br>
    <input type='radio' id='r6' name='Partition' value='country' > Country wise <br>
    <input type="radio" id="r7" name="Partition" value="state"> State wise 
    <br><br></font>
<button type='submit' id='a1' align= 'center' name='find' formaction='/search'> Get the results </button>
</form>
<br><br><br><br><br>

</body>
</html>