<!DOCTYPE html>
<html>
<head>
<style type="text/css">
 button{
  margin:auto;
  display:block;
 }

/* BUTTON STYLES */
 button{
  padding:16px 32px;
  font-family:helvetica;
  font-size:16px;
  font-weight:100;
  color:#fff;
  background: #587286;
  border:0;
  font-weight:100;
 }
 button:hover{
   background: #3B5C76;
 }
 body{
 	background:#123;
 }
 h2{
 	color:#fff;
 }
</style>
</head>
<body>
<br><br><br>
<h2 align='center' > Welcome to our user to Access Point Management Service</h1>
<br><br><br>
<font align='center' style='color:white; margin:50px '> Please fill your address below to get a list of access points around you </font>
<br><br>
<form>
<input type='text' id='b1' hint='Enter your address' style='right-margin:50px; width=350px; hieght=100px'><br>
<button type='submit' id='a1' align= 'center' name='find' formaction='/search'> Get the results </button>
</form>
<br>
</body>
</html>