<!DOCTYPE html>
<html>
<head>
<style type="text/css">
 button{
  margin:auto;
  display:block;
 }

/* BUTTON STYLES */
 button{
  padding:16px 32px;
  font-family:helvetica;
  font-size:16px;
  font-weight:100;
  color:#fff;
  background: #587286;
  border:0;
  font-weight:100;
 }
 button:hover{
   background: #3B5C76;
 }
 body{
 	background:#123;
 }
 h2{
 	color:#fff;
 }
</style>
<script>
   /*int i=0;
   function myFun1()
   {
     i=1;
   }
   function myFun2()
   {
    i=2;
    $.ajax({
        url: "http://localhost:3000/show",
        type: "POST",
        data: {like: 'yes'}, //send this to server
        success: function(returned) {
             console.log(returned); // here can get the return of route
        },
        error: function() {

        }
    });
   }*/
 </script>
</head>
<body>
<br><br><br>
<form method='get'>
<br><br>
<h2 align='center' > Welcome to Access Point Management Service</h1>
<br><br><br>
<button type='submit' id='a1' align= 'center' formaction='/add' > Add to database </button>
<br>
<button type='submit' id='a2' align= 'center' formaction='/show' > Choose from database </button>
</form>
</body>
</html>